<h2>Celebrities</h2>

{{#each celebs}}
  <div style="border: 1px solid black; padding:20px; width: 400px;">
    <p>Name: {{this.name}}</p>
    <p>Occupation: {{this.occupation}}</p>
    <p>Catch phrase: {{this.catchPhrase}}</p>
  </div>
{{/each}}